body {
    background-color: #141518;
}

main {
    display: flex;
    flex-direction: row;
    padding: 2rem;

}

.barbearia {
    width: 50%;
    margin-left: 5rem;
}

.barber-image {
    width: 40rem;
}

.servico-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.servico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 18rem;
    height: 10rem;
    padding: 1rem;
}

.servico-info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
}

.servico-info h4 {
    color: white;
    margin-bottom: 0.5rem;
}

.barber-adress-img {
    width: 20rem;
}

.sobre {
    width: 30%;
    margin-right: 5rem;
    margin: 3rem;
    background-color: #1A1B1F;
}

.funcionamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.parceria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}