body {
    background-color: #141518;
}

main {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;

}

.barbearia {
    width: 55%;
    margin-left: 5rem;
}

.barbearia h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 0.75rem;
}

.barber-image {
    width: 100%;
    border-radius: 10px;
}

.servicos {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.servicos h4 {
    color: #838896;
    font-size: 14px;
}

.servico-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.servico {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;

    flex-basis: calc(50% - 0.5rem);
    flex-grow: 1;
    min-width: 22rem;

    height: 8rem;
    padding: 0.5rem;

    border: 1px solid #26272B;
    border-radius: 8px;
    box-sizing: border-box;
}

.servico img {
    height: 7rem;
    border-radius: 8px;
}

.servico-info {
    padding-left: 1rem;
    font-size: 13px;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: gray;
}


.servico-info footer {
    background-color: #141518;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    color: #8162FF;
    padding: 0;
}

.servico-info h4 {
    color: white;
    margin-bottom: 0.5rem;
}

.reservar-button {
    width: 5.5rem;
    margin-top: 0;
    margin-right: 0.5rem;
}

.sobre {
    width: 30%;
    height: 100%;
    margin-right: 5rem;
    background-color: #1A1B1F;
    border-radius: 16px;
    padding: 1rem;
}

.barber-adress-img {
    width: 100%;
}

.sobre-info {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid #26272B;
}

.sobre-info p {
    font-size: 14px;
    color: #838896;
    padding-top: 0.75rem;
}

.telefone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #26272B;
    padding: 1rem 0;
}

.telefone-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.button {
    background-color: #26272B;
    height: 40px;
}

.funcionamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #26272B;
    padding: 1rem 0;
}

.funcionamento-dia {
    color: #838896;
    text-align: left;
}

.funcionamento-dia h5 {
    font-size: 14px;
    padding-bottom: 0.4rem;
}

.funcionamento-horario p {
    font-size: 14px;
    padding-bottom: 0.4rem;
    text-align: end;
}

.parceria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0 1.5rem 0;
    font-weight: 400;
}