html,
* {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: white;
    overflow-x: hidden;
}

main,
.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
}


header {
    box-sizing: border-box;
    background-color: #141518;
    height: 96px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 100px;
    padding: 30px 128px;
    border-bottom: 1px solid gray;
}

.logo-header {
    width: 10rem;
}

.button-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    
    cursor: pointer;
}

.imagem-perfil {
    padding: 0.25rem;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;

}

button {
    font-size: 14px;
    font-weight: 700;

    padding: 8px 16px;
    text-align: center;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);

    cursor: pointer;
    color: white;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.reservar-button {
    width: 100%;
    height: 2.25rem;
    background-color: #26272B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin: 4px;
}

.modal-checkbox-escondido {
    display: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    z-index: 20;
}

.modal-conteudo {
    background-color: #141518;
    padding: 2rem;
    border-radius: 10px;
    width: 22rem;
    position: relative;
    text-align: center;
}


.modal-checkbox-escondido:checked ~ .modal-container {
    visibility: visible;
    opacity: 1;
}

.modal-conteudo h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.modal-conteudo p {
    margin-bottom: 20px;
    color: #838896;
}

.modal-conteudo button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #141518;
}

.modal-button {
    background-color: #26272B;
    color: white;
    border: none;

    width: 8rem;
    height: 2.5rem;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    cursor: pointer;
    margin-top: auto;
}

.modal-button-sair {
    background-color: #EF4444;
}

footer {
    background-color: #1A1B1F;
    color: #838896;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    height: 65px;
    box-sizing: border-box;
    flex-shrink: 0;
}



@media (max-width: 768px) { 
    header {
        padding: 1.5rem 3rem;
        gap: 0;
        height: 80px;
        margin: 0;
    }

    .header-link-text {
        display: none;
    }
}